<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Free Meals</title>
    <meta name="description" content="Rendering Airtable data in a web page" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/favicon.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="/leaflet.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <h1>
        <a href="https://twitter.com/hashtag/ENDCHILDFOODPOVERTY" target="_blank">#End<wbr>Child<wbr>Food<wbr>Poverty</a>
      </h1>
    </header>

    <div id="mapid" style="width: 100vw; height: 100vh;"></div>

    <main id="data-container">
      Loading...
    </main>

    <footer>
      <h1>
        Thanks to <a href="https://twitter.com/marcusrashford" target="_blank">@MarcusRashford</a><br><small>Please validate with the restaurant's official website/social media before visiting</small>
      </h1>
    </footer>
    <!-- Your web-app is https, so your scripts need to be too -->
    
    <a class="add-link" href="https://airtable.com/shrKjbVlu6G5sHHyy" target="_blank">+</a>
    <script
      src="/jquery.min.js"
    ></script>

    <script
      src="/leaflet.min.js"
    ></script>
    <script src="/autolinker.min.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
